body {
  background-image: url(photo/birds.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
}
.holder{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
}

.head h3 {
  padding: 15px;
  font-weight: 700;
  font-size: xx-large;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.head img {
  float: left;
  margin-left: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.description p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
  border-style:2px solid white;
}

.tbl td {
  border-color: white;
  border-style:2px solid white;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tbl th {
  border-color: white;
  border-style:2px solid white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tbl .tbl-main {
  text-align: center;
  vertical-align: top;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-style:2px solid white;
}

form {
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
  font-family: 'Open Sans', sans-serif;

}
input[type=number],
[type="radio"] {
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: grey;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
}
legend{
  color: white;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}